@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.sign_in-form {
  width: 75%;
  margin: 2rem auto;
  background-color: #f2fafaed;
  border-radius: 1rem;
  padding: 2rem 4rem 3rem;
  box-shadow: 0 4px 6px rgb(34 126 110 / 38%);
}

.sign_border {
  position: relative;
}

.sign_border::before {
  content: "";
  position: absolute;
  bottom: -4.7px;
  left: 0;
  width: 62%;
  height: 3px;
  background-color: #01a69c;
  border-radius: 1rem;
}

.Input {
  border: 2px solid #01a69c;
  background-color: transparent;
}

.bordered-paragraph {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.socail_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-top: 1rem;
}
.btn {
  width: 35%;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  height: 2.3rem;
}

@media screen and (min-width: 900px) {
  .img_desk-div {
    position: relative;
    right: 2rem;
  }

  .desk_section {
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
  }

  .sign_in-form {
    width: 55%;
    margin: 1.5rem auto;
    background-color: transparent;
    border: #01a69c 2px solid;
    padding: 2rem 3rem 3rem;
    box-shadow: none;
  }
}
@media screen and (min-width: 1125px) {
  .sign_in-form {
    width: 45%;
  }
}
@media screen and (min-width: 1250px) {
  .sign_in-form {
    width: 37%;
  }
}

@media screen and (max-width: 550px) {
  .sign_in-form {
    width: 87%;
  }

  .bordered-paragraph p::before {
    left: 10px;
    transform: translateX(100%);
  }

  .bordered-paragraph p::after {
    right: 10px;
    transform: translateX(-100%);
  }
}

.container {
  width: 80%;
  margin: auto;
  padding: 0;
}

nav.center-nav {
  font-size: 0.7rem;
  font-weight: 500;
}

.active {
  color: #01a69c;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.active::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #01a69c;
  transition: width 0.3s ease;
  @apply animate-width-increase;
}

.active:hover {
  transform: scale(1.1);
}

.nav-width {
  width: 80%;
  margin: auto;
  background-color: #dff4ef;
}

/* Header */

.header-container {
  width: 80%;
  margin: auto;
  background-color: #dff4ef;
  padding-top: 7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 3rem;
}

.header_text-btn h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-right: 7rem;
}

.header_text-btn p {
  font-size: 0.78rem;
  margin-bottom: 1.5rem;
  padding-right: 13rem;
}

.header-image {
  width: 100%;
}

/* Our Activity */

.activity-container {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
}

.activity-flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.activity-title {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.activity-title h1 {
  font-size: 2.24rem;
  font-weight: 600;
  position: relative;
  margin-bottom: 1rem;
}

.activity-title h1::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  border-radius: 10rem;
  width: 50%;
  height: 3px;
  background-color: #01a69c;
}

.activity-title p {
  font-size: 0.78rem;
  font-weight: 500;
  padding-right: 33rem;
}

.card {
  margin-bottom: 5rem;
  display: flex;
}
.activity-flex_card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.activity-card {
  background: #ffffff;
  box-shadow: 12px 12px 28px 0 rgb(0 0 0 / 25%);
  padding: 2rem;
  width: 26%;
  border-radius: 0.7rem;
}

.activit-card_img {
  width: 3.5rem;
  margin-bottom: 1rem;
}

.activity-card h4 {
  font-size: 0.8rem;
  font-weight: 700;
  position: relative;
}

.activity-card h4::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  border-radius: 10rem;
  width: 30%;
  height: 3px;
  background-color: #01a69c;
}

.activity-card p {
  font-size: 0.7rem;
  margin: 0.9rem 0;
}

.activity-card a {
  color: #01a69c;
  font-size: 0.8rem;
}

/* Why Us */
.why-us_container {
  width: 80%;
  margin: auto;
}
.why-us-details {
  display: flex;
  margin: auto;
  margin-top: 4rem;
}
.why-us_card h1 {
  font-size: 1.7rem;
  font-weight: 600;
}

.why-us_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.why-us_image {
  width: 75%;
}
.why-us_image img {
  width: 85%;
}
.play-stop_card {
  @apply relative w-[80%] max-w-3xl rounded-xl;
  margin-top: 2rem;
}

.play-stop_cards {
  @apply flex transition-transform duration-700 ease-in-out;
}

.play-stop_box {
  @apply min-w-full;
}

.play-stop_details {
  @apply bg-white rounded-xl flex items-center justify-center;
  box-shadow: 9px 9px 19px 0 #30303042;
  padding: 4rem 2rem;
}

.play-stop_cicle {
  @apply absolute bottom-[-3rem] left-0 right-0 flex justify-center space-x-2;
}

.play-stop_text {
  @apply text-[1.5rem] font-bold mb-4 text-gray-800;
}

.play-stop_des {
  @apply text-[1rem] text-gray-600;
}

.play-stop_button {
  @apply absolute -bottom-[5rem] right-[12.3rem] flex space-x-2;
}

.play-stop_btn {
  @apply px-[0.4rem] py-[0.4rem] bg-[#01a69c] text-white font-semibold rounded-[1rem] shadow-md transition-colors duration-300 text-[0.6rem];
}

.why-us_arrow {
  display: flex;
  justify-content: center;
  width: 30%;
  margin-top: -10rem;
  margin-left: 24rem;
}
